<div class="container my">

<p class="lead text text-center" > 
    {{currString}} 

</p>

<div >
    <label> Username: </label>
    <br>
    <input class="clearable" id="searchField"  type ="text" [(ngModel)]="username" name="username">
</div>

<h2 class="text-center my">
    Converse.io </h2>

<div  *ngIf="username">
    <input class="clearable" id="searchField" placeholder="Enter message..." [(ngModel)]="message" name="message"
    (keyup.enter)="sendMessage()" (keydown)="whoIsTyping()" (keyup)="endTyping()">
    <br>
    <br>

    <div> {{currentTypist}} </div>
    <br>

    <div *ngFor="let msg of messages">
        <div class="well">
        <strong> {{msg.username}}: </strong> {{msg.text}} 
        </div>
    </div>

</div>

<div *ngIf="!username" class="text-center">
    Please choose an alias before starting the convo :)
</div>

</div>