<div class='lead text my'>
   <h4>

    RealTime Conversation/Chat Web application using Node.js as a server side JavaScript execution environment coupled with Express.js as web application framework, Angular 2 for frontend development and `Socket.io` as a JavaScript library for realtime sharing.

   </h4>
</div>