.lead{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: italic;
  font-size: 10px;
}



.clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 6px 24px 6px 10px;
  border-radius: 4px;
  transition: background 0.4s;
  width: 100%;
}
.clearable.x  { background-position: right 5px center; } 
.clearable.onX{ cursor: pointer; }             
.clearable::-ms-clear {display: none; width:0; height:0;} 
/*
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }*/


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-size: 5px;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #616161;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



#contact h4{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: grey;
}

#contact h3{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: grey;
}

#about h4{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: grey;
}

/*Changes the color of the navigation text*/
.navbar ul li a {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
color: grey;
font-size: 13px;
}


/*Removes background color and text color from navigation items on hover & on focus*/
.navbar ul li:hover a{
background: none;
color:black
}



button.navbar-toggle{
    background:none;
    border:none;
    color:#f9f9f9;

}

button.navbar-toggle span{
   background:#f9f9f9;/*change accordingly*/
}



.navbar-brand{
    
  color: #f9f9f9;
  background-image: none;
  background-repeat: no-repeat;

  
 }

 

 .panel-heading{

     margin-left:2px;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }



 .btn,.panel-body,.stats,.list-group, .my{
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

 }


.navbar-left{
    margin-top:0.2cm;
    
}


.navbar-brand { 

    /*font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-weight: 500;*/
    width: 170px;
    height: 90px;
    left: 15px;
    background-size: contain;

}



.nav-collapse {
  margin-left: 1em;
}